@charset "UTF-8";

/*.slides { background: transparent;}*/

/*Additional fonts*/
.raleway {
  font-family:Raleway, sans-serif !important;
}
.sourceSans {
  font-family:"Source Sans Pro", sans-serif !important;
}
.playfair {
  font-family:"Playfair Display", serif !important;
}
.georgia {
  font-family:Georgia, serif !important;
}

/* helpers */
@media screen and (max-width: 60em) {
  .responsive-break { display: none !important; }
}

/* Menu Highlighters */
.mainMenu li.selected a {
  color:pink;
  border-bottom: 1px solid pink;
}
.whiteSlide .mainMenu li.selected a {
  color:black;
  border-bottom: 1px solid black;
}
.whiteSlide .mainMenu li.selected a {
  color:black;
  border-bottom: 1px solid black;
}

.dropdown { border-radius: 4px; }
.dropdownTrigger.selected { color:pink; }
.whiteSlide .dropdownTrigger.selected { color:black; }

.customDropdown .selected {
  background: rgba(0, 0, 0, 0.05);
}

.about.selected { color: pink; }

.list svg {
  position: relative;
  top: 5px;
  width: 24px;
  height: 24px;
}
.list li {
  list-style-position: outside;
  list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' style='display:inline-block; margin-top: 5px;' viewBox='0 0 24 24'%3E%3Cg class='nc-icon-wrapper' fill='%23fff'%3E%3Cpath d='M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  margin-left: 1.9em;
}
.list li.popular {
  list-style-position: outside;
  list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' style='display:inline-block; margin-top: 5px;' viewBox='0 0 24 24'%3E%3Cg class='nc-icon-wrapper' fill='%23ff00bf'%3E%3Cpath d='M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  margin-left: 1.9em;
}

/* overrides */


[data-name="services"].active {
  background-repeat: no-repeat;
  background-position: bottom center;
}
[data-name="services"] .tabs li.selected {
  background: rgba(255, 255, 255, 0.9098039215686274);
}
[data-name="services"] {
  /*background-color: #000000;*/
/*  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23222222' points='800%2C100 0%2C200 0%2C800 1600%2C800 1600%2C200'/%3E%3Cpolygon fill='%23444444' points='800%2C200 0%2C400 0%2C800 1600%2C800 1600%2C400'/%3E%3Cpolygon fill='%23666666' points='800%2C300 0%2C600 0%2C800 1600%2C800 1600%2C600'/%3E%3Cpolygon fill='%23888888' points='1600%2C800 800%2C400 0%2C800'/%3E%3Cpolygon fill='%23aaaaaa' points='1280%2C800 800%2C500 320%2C800'/%3E%3Cpolygon fill='%23cccccc' points='533.3%2C800 1066.7%2C800 800%2C600'/%3E%3Cpolygon fill='%23EEE' points='684.1%2C800 914.3%2C800 800%2C700'/%3E%3C/g%3E%3C/svg%3E");
*/background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
[data-name="contact"] .pad {
  padding:5%;
  /*background: transparent;
  box-shadow: none;*/
}
[data-name="contact"] input[type="text"],
[data-name="contact"] input[type="name"],
[data-name="contact"] input[type="email"],
[data-name="contact"] input[type="password"],
[data-name="contact"] input[type="tel"],
[data-name="contact"] textarea,
[data-name="contact"] select {
    padding: 9px 12px 12px;
    font-size: 18px;
}
[data-name="contact"] .label {
  text-align:left;
  color: #555;
  opacity:.5;
}
[data-name="contact"].active {
  background-color: #b5027c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23a60263' points='1600%2C160 0%2C460 0%2C350 1600%2C50'/%3E%3Cpolygon fill='%2397014a' points='1600%2C260 0%2C560 0%2C450 1600%2C150'/%3E%3Cpolygon fill='%23890132' points='1600%2C360 0%2C660 0%2C550 1600%2C250'/%3E%3Cpolygon fill='%237a0019' points='1600%2C460 0%2C760 0%2C650 1600%2C350'/%3E%3Cpolygon fill='%236b0000' points='1600%2C800 0%2C800 0%2C750 1600%2C450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
[data-name="contact"] .makecenter {
  max-width: 80%;
  margin:0 auto;
}
[data-name="contact"] .label.respond  {
  display: none;
}
@media (max-width: 768px) {
  [data-name="contact"] form label, form .label {
      margin-top: 15px;
  }
  [data-name="contact"] .label.cropTop.respond {
    display: block;
  }
  [data-name="contact"] .label.cropTop.respond label.cropTop {
    margin-top: 25px !important;
  }
}

[data-name="home"] h1 {
  transition: font-size .5s;
}
[data-name="home"] p {
  transition: font-size .5s;
}

.content h2 {
  font-size: 52px;
  transition: font-size 2s;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: -0.036em;
}

@media screen and (max-width: 30em) {
  .content h2 {
    font-size: 193%;
    transition: font-size 2s;
  }
  .content p {
    font-size: 20px;
    transition: font-size 2s;
  }
  [data-name="home"] h1 { 
    font-size: 235%;
    transition: font-size 2s;
  }
  [data-name="home"] p { 
    font-size: 20px;
    transition: font-size 2s;
  }
  .container .wrap:not(.noSpaces), .container .wrap.spaceWrap, .container .wrap .spaceWrap {
      padding: calc(5.56% + 50px) calc(2% + 15px);
  }
  [data-name="leadership"] img { width: 300px; }
  [data-name="leadership"] h1,
  [data-name="leadership"] p { text-align: center !important; }
  [data-name="leadership"] button {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}

[data-name="leadership"].active {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI5MCI+CjxnIHRyYW5zZm9ybT0ic2NhbGUoMSAxLjUpIj4KPHJlY3Qgd2lkdGg9Ijk5IiBoZWlnaHQ9Ijk5IiBmaWxsPSIjNmQ2OTVjIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSI0Mi40MiIgaGVpZ2h0PSI0Mi40MiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzAgMCkgcm90YXRlKDQ1KSIgZmlsbD0iIzYyNWY1MyI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMSIgdHJhbnNmb3JtPSJyb3RhdGUoNDUpIiBmaWxsPSIjNzE2ZjY0Ij48L3JlY3Q+CjxyZWN0IHdpZHRoPSI5OSIgaGVpZ2h0PSIxIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDYwKSByb3RhdGUoLTQ1KSIgZmlsbD0iIzcxNmY2NCI+PC9yZWN0Pgo8L2c+Cjwvc3ZnPg==");
} 

.rocket {border-top: 20px solid #000;}



.slides.whiteSlide .panel .actionButton svg { fill: #fff !important; }
.slides.whiteSlide .panel svg { stroke: white !important; }
.slides.whiteSlide .panel .sharethis-inline-follow-buttons svg { fill: white !important; }

.sharethis-inline-follow-buttons {
  font-size: 14px;
  font-style: italic;
  color: #888;
}

[data-slider-id="keynote"] > li {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: block;
   -webkit-transition: 0.5s;
   transition: 0.5s;
   /* before selected */
   opacity: 0;
}
[data-slider-id="keynote"] > li.selected { opacity: 1; }

[data-popup-id="group-training"].popup:not([class*="fade"]) { background: rgba(20, 20, 20, .97);}
[data-popup-id="group-training"].popup ul ul > li {
  margin-left: 1em;
  list-style-position: outside;
  /*list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' style='display:inline-block; margin-top: 5px;' viewBox='0 0 24 24'%3E%3Cg class='nc-icon-wrapper' fill='%23fff'%3E%3Cpath d='M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");*/
  list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='22' viewBox='0 0 15 15'%3E%3Cg class='nc-icon-wrapper' fill='#777'%3E%3Cpath d='M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
[data-popup-id="group-training"].popup ul ul > li svg { 
  position: relative;
  top: 5px;
  width: 15px;
  height: 15px;
}

[data-popup-id="assessments-inventories"] h3 { 
  line-height: 1.6em;
  font-size: 24px !important;
}
[data-popup-id='assessments-inventories'] h3,
[data-popup-id='assessments-inventories'] p:not(.hero),
[data-popup-id='assessments-inventories'] ul {
  margin-bottom: 18px;
  margin-top: 0;
  font-size: 18px;
}
[data-popup-id='assessments-inventories'] ul ul > li {
  font-size:18px;
  list-style-position: outside;
  list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' style='display:inline-block; margin-top: 5px;' viewBox='0 0 24 24'%3E%3Cg class='nc-icon-wrapper' fill='%23fff'%3E%3Cpath d='M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  margin-left: 1.5em;
  opacity: .8;
}
[data-popup-id="assessments-inventories"].popup:not([class*="fade"]) { background: rgba(17, 17, 17, 0.98);}

.items-container p.hidden {
  display: none;
}

.slides .panel svg {
    stroke: white;
}

.slides.whiteSlide .panel svg {
    stroke: black;
}

.service-tabs.tabs li {
  font-size: 12px;
}

/*Dropdown Menu*/
.panel .menu { cursor:pointer; }
.panel .menu.small li {
  outline: none;
  border-radius: 50px;
  padding: 7px 17px;
  will-change: background;
  -webkit-transition:0.25s background;
  transition:0.25s background;
}
.panel .sections .menu.small li:focus,
.panel .sections .menu.small li:hover {
  background: rgba(0, 0, 0, 0.15);
  background: pink !important;
}
.dropdown.customDropdown { padding:10px 0;}
.dropdown.customDropdown li:not(.link),
.dropdown.customDropdown li.link a { 
  font-size: 18px; 
  padding: 8px 10px 8px 20px; 
  cursor: pointer; 
  display: block; 
  text-align: left; 
}
.dropdown.customDropdown li:hover { background:rgba(0, 0, 0, 0.05);}
.dropdown-icon { 
  /*stroke: black;*/
  width: 10px !important;
  height: 10px !important;
  margin-left: 4px;
}

[data-dropdown-id="shareit"] .dropdownTrigger {

}

.button.actionButton {
    height: 45px;
    width: 45px;
    padding: 11px;
    border-radius: 25px;
    transition: border-radius 2s;
    background-color: #c44f73;
}

/*pill controller*/
.pill.controller {
  font-size: 0;
  border: 1px solid;
  display: inline-block;
  border-radius: 4px;
}
@media screen and (max-width: 60em) {
  .pill.controller {
    border: 0;
  }
  .pill.controller li {
    padding: 4px;
    border-radius:4px !important;
    width: 100%;
    margin: 3% 0;
  }
  .service-tabs {max-width: 100%}
}
.pill.controller li {
  padding: 5px 20px 7px 20px;
  display: inline-block;
  border: 1px solid #fff;
  font-size: initial;
}

.pill.controller li:first-child {
  border-radius: 4px 0 0 4px;
}
.pill.controller li:last-child {
  border-radius: 0 4px 4px 0;
}

.pill.controller li.selected {
  background: #fff;
  color: #303030;
}



.customHover {
   position:relative;  
}
.customHover:before {
  content:"";
  position:absolute;
  bottom:0;
  left:0;
   width:100%;
  height:1px;
  background:#CCC;
  z-index:-1;
  -webkit-transition:0.35s;
  transition:0.35s;
}
.customHover:hover:before {
  background:rgba(0,0,0,.3);
  -webkit-transition:height 0.15s, width 0.35s 0.15s cubic-bezier(0.23, 2.01, 0.43, 0.66), -webkit-transform 0.35s 0.15s cubic-bezier(0.23, 2.01, 0.43, 0.66), color 0.35s;
  transition:height 0.15s, width 0.35s 0.15s cubic-bezier(0.23, 2.01, 0.43, 0.66), transform 0.35s 0.15s cubic-bezier(0.23, 2.01, 0.43, 0.66), color 0.35s;
  height:100%;
  -webkit-transform:translateX(-6px);
  transform:translateX(-6px);
  width: calc(100% + 12px);
  border-radius:3px;
}

.customHover:hover {
   -webkit-transition:0.5s;
   transition:0.5s;
   color:#fff;
}



[data-tooltip] {
  position:relative;
  cursor:pointer;
  border-bottom: 1px dotted;
}
[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  background: rgba(40,40,40,0.97);
  color: #fff;
  font-size: 15px;
  border-radius: 50px;
  padding: 6px 14px 7px;
  visibility: hidden;
  white-space: nowrap;
  letter-spacing: .01em;
  -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,0.1);
  box-shadow: 0 0 0 1px rgba(255,255,255,0.1);
  -webkit-transform: translateY(50%) translateX(-50%) scale(0);
  transform: translateY(50%) translateX(-50%) scale(0);
  left: 50%;
  bottom: 0;
  opacity:0;
  -webkit-transition:0.25s;
  transition:0.25s;
  max-width: 300px;
}
[data-tooltip].onTop:before {
  -webkit-transform: translateY(-50%) translateX(-50%) scale(0);
  transform: translateY(-50%) translateX(-50%) scale(0);
}
[data-tooltip]:hover:before {
  -webkit-transform: translateY(100%) translateX(-50%) scale(1);
  transform: translateY(100%) translateX(-50%) scale(1);
  opacity:.97;
  visibility: visible;
}[data-tooltip] {
   position:relative;
   cursor:pointer;
}
[data-tooltip].onTop:hover:before {
  -webkit-transform: translateY(100%) translateX(-50%) scale(1);
  transform: translateY(-100%) translateX(-50%) scale(1);
  opacity: .97;
  visibility: visible;
}

.customHover:before {
  height: 1px;
}
[data-tooltip]:before {
  font-size:20px;
}


.checkbox { text-align: left; }
.checkbox label .element {
  display: inline-block;
  border-width: 0;
  padding: 0;
  font-size: 0;
  min-width: 36px;
  height: 22px;
  background: rgba(0,0,0,.12);
  border-radius: 50px;
  vertical-align: bottom;
  margin-right: 10px;
}
.checkbox label { color: #444; cursor: pointer; display: inline-block;}
.checkbox label input { display: none !important; }
.checkbox label .element:after {
  content: "";
  width: 16px;
  height: 16px;
  background: #fff;
  display: inline-block;
  padding: 0;
  border-radius: 16px;
  margin: 3px;
  -webkit-transition: -webkit-transform .25s;
  transition: transform .25s;
  -webkit-transition-timing-function: cubic-bezier(.23,2.01,.43,.66);
  transition-timing-function: cubic-bezier(.23,2.01,.43,.66);
}
.checkbox label input[type=checkbox]:checked+.element { background: #2196F3; }
.checkbox label input[type=checkbox]:checked+.element:after { -webkit-transform: translateX(14px); transform: translateX(14px); }

input#fname.pair {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: 0px !important;
}
input#lname.pair {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-left: 0px !important;
}

nav.customPanel li:after { width:0 !important;  }

/* swap panels on last slide */
.slides:not(.firstSlide) .panel.top.defaultPanel,
.slides.firstSlide .panel.top.customPanel {
  opacity:0;
  -webkit-transform: translate3d(0,-100%,0) !important;
  transform: translate3d(0,-100%,0) !important;
}

.logo.toFirstSlide {dislay:block;}

.panel.customPanel .sections .menu.uppercase li { 
  padding-top:0; 
  font-size:14px;
}
.panel.customPanel ul.subnavMenu { 
  position: relative; 
  top: -3px;
}

.panel .sections .menu.uppercase li { font-size: 16px; }
.panel .menuButton.uppercase.small.topRowButton {
  padding: 5px 12px !important;
  position: relative;
  top: -3px;
  background-color: #020202 !important;
  font-family: 'Libre Franklin';
  font-size: 12px;
  color: #fff !important;
}
nav.customPanel .menu.uppercase li.dropdownTrigger.about {
  opacity: .58;
  margin: 0;
  font-size: 14px;
}

nav .navigation li:after {
    width: 0px;
    height: 0px;
}
nav .navigation li {
    opacity: 0.5;
    -webkit-transition: opacity 0.25s, background 0.25s;
    transition: opacity 0.25s, background 0.25s;
}

.panel .sections .subnavMenu.menu { padding: 0 !important; }

nav.customPanel .logo svg {
  width: 41px;
  height: 70px;
  position: relative;
  top: -11px;
  margin-bottom: -11px;
}

nav.customPanel {
  background-color: rgba(0,0,0,.38) 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.38+0,0+100 */
/*  background: -moz-linear-gradient(top, rgba(0,0,0,0.38) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.38) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.38) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61000000', endColorstr='#00000000',GradientType=0 );*/
  padding-bottom: 0px !important;
}

.panel .sections .menu li a {
    padding: 4px 0px 5px;
}

nav.panel.bottom .logo svg  { 
  width: 41px; 
  height: 67px;
  opacity: 1;
  transition: opacity .2s;
}

nav.panel.bottom a.logo  { margin-right: 0 !important; }

.firstSlide nav.panel.bottom .logo svg {
  opacity: 0;
  transition: opacity .2s;
}

@media screen and (max-width: 765px) {
  nav.panel.bottom .logo svg {
    opacity: 0 !important;
    transition: opacity .2s;
  }
}

nav.customPanel.small .navigation li {
    padding-bottom: 0;
}
